.admin-navbar{


width:100%;

padding:18px 45px;


display:flex;

justify-content:space-between;

align-items:center;


background:

rgba(15,23,42,.75);


backdrop-filter:blur(20px);


border-bottom:

1px solid rgba(255,255,255,.1);


position:sticky;

top:0;

z-index:999;



}





.navbar-brand{


display:flex;

align-items:center;

gap:15px;


}



.music-logo{


width:55px;

height:55px;


display:flex;

align-items:center;

justify-content:center;


font-size:30px;


background:

linear-gradient(
135deg,
#38bdf8,
#2563eb
);


border-radius:18px;


box-shadow:

0 10px 30px rgba(56,189,248,.4);



}





.navbar-brand h2{


margin:0;


font-size:24px;


font-weight:900;


color:white;


}



.navbar-brand span{


font-size:13px;


color:#94a3b8;


}





.navbar-menu{


display:flex;


align-items:center;


gap:15px;


}





.navbar-menu a{


color:#cbd5e1;


text-decoration:none;


padding:12px 22px;


border-radius:30px;


font-weight:600;


transition:.3s;


}





.navbar-menu a:hover{


background:

rgba(56,189,248,.15);


color:#38bdf8;


}





.navbar-menu a.active{


background:

linear-gradient(
135deg,
#38bdf8,
#2563eb
);


color:white;


box-shadow:

0 8px 25px rgba(37,99,235,.4);


}






.logout-btn{


border:none;


padding:12px 25px;


border-radius:30px;


background:

linear-gradient(
135deg,
#ef4444,
#b91c1c
);


color:white;


font-weight:700;


cursor:pointer;


transition:.3s;


}



.logout-btn:hover{


transform:translateY(-3px);


box-shadow:

0 10px 25px rgba(239,68,68,.4);


}








@media(max-width:900px){


.admin-navbar{


flex-direction:column;


gap:20px;


padding:20px;


}




.navbar-menu{


flex-wrap:wrap;


justify-content:center;


}


}